{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    // "@babel/plugin-syntax-dynamic-import",
    // [
    //   "@babel/plugin-proposal-class-properties",
    //   { // 解析class语法
    //     "loose": true
    //   }
    // ],
    // [
    //   "@babel/plugin-proposal-decorators",
    //   {
    //     "legacy": true
    //   }
    // ],
    "@babel/plugin-transform-runtime",
    // [
    //   "@babel/plugin-transform-modules-commonjs", // 将 ECMAScript modules 转成 CommonJS.
    //   {
    //     "allowTopLevelThis": true,
    //     "loose": true,
    //     "lazy": true
    //   }
    // ]
  ]
}
